#masthead, .breadcrumb-wrapper {
    background-color: #0f1213;
    
}

.main-navigation {
    ul {
        li {
            a {
                color: #fff;
                font-size: 1.4rem;
            }
        }
        ul {
            background-color: #0f1213;
        }
    }
}

.header-t {
    a:hover {
        color: #fff;
    }
}
#crumbs .current a {
    color: #fff;
}
.top-service-section {
    &.has-bg {
        background-color: #fff;
    }   
}