/* The Mobile Menu */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: calc( 100vh - 50px ); /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #eee; /* Fallback color */
    /* Close button */
    .modalclose {
        color: #333;
        position: absolute;
        right: 40px;
        top: 40px;
        font-size: 50px;
        font-weight: 400;
        &:hover,
        &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
    /* Modal Content/Box */
    .modal-content {
        margin: 5% auto 15% auto; /* 15% from the top and centered */
        padding: 20px;
        width: 100%; /* Could be more or less, depending on screen size */
        ul {
            text-align: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                padding: 0.25rem 0;
                a {
                    color: #000;
                    font-size: 1.3rem;
                    font-weight: 600;
                    text-decoration: none;
                    padding: 0 0.5rem;
                    display: block;
                }
                &.current-menu-item a{
                    color: #333;
                }
                ul {
                    li {
                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }     
}
    


  
  

#openMobileMenu {
    border: 0 none;
    width: 60px;
    height: 50px;
    background-color: transparent;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 60px;    
	display: block;
	.toggle-line {
		width: 40px;
		height: 4px;
		background-color: #000;
		margin: 7px auto;
	}
}

#mobilefooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    align-items: center;
    bottom: 0;
    height: 50px;
    width: 100%;
    z-index: 1200;
    background-color: #eee;
    .footersearch {
        height: 100%;
        align-items: center;
        border-right: solid 3px #fff;
        display: flex;
        justify-content: center;
        button {
            background-color: transparent;
            color: #000;
        }
        .search-form {
            height: 40px;
            label {
                height: 40px;
            }
            input[type="submit"] {
                min-height: 40px;
                height: 40px;
            }

            .search-submit {
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-left: 0 none;
                height: 40px;
                background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill=" %23000000 " d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"></path></svg>');
            }
            .search-field {
                height: 40px;
            }
        }

    }
    .footercart {
        .cart-block {
            margin: 0 auto;
            .bsp-cart-block-wrap {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            a {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-top: 2px;
                padding-right: 7px;
                svg {
                    width: 20px;
                    height: 20px;
                }
                .count {
                    display: block;
                    background-color: rgba(255,255, 255, 0.5);
                    width: 20px;
                    height: 20px;
                    line-height: 1.3;
                    margin-left: -4px;
                    text-align: center;
                    border-radius: 50%;
                }
            }
            .cart-amount {
                display: flex;
                justify-content: flex-start;
            }
        }
    }

}
@media screen and (min-width: 1024px) {
    #mobilefooter {
        display: none;
    }
    #openMobileMenu {
        display: none;
    }
}