/*!
Theme Name:     Ram-theme
Theme URI:      https://zoo.nl      
Description:    Blossom-shop child theme.
Author:         Ronnie Stevens
Author URI:     
Template:       blossom-shop
Version:        0.1.0
*/

@import 'mobilemenu';

body {
    font-size: 16px!important;
    &.home {
        .custom-logo-link {
            display: none;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif!important;
}
.widget  {
    p {
    font-size: 16px;
    }
    .textwidget {
        a {
            text-decoration: none;
        }
    }
}
blockquote {
    font-size: 20px;
    &::before {
            background-size: 35px;
    }
}
/* custom header */
#headerWrapper {
    display: grid;
    grid-template-columns: 1fr;
    .site-branding {
        padding: 1rem;
        margin-left: 3rem;
    }
    #headerRight {
        .header-t {
            border: 0 none;
            display: grid;
            grid-template-columns: 3fr 1fr;
            .header-social {
                display: none;
            }
        }
        
    }
    .header-main {
        border: 0 none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .main-navigation {
            justify-content: flex-start;
            &+ .right {
                border: 0 none;
                justify-content: flex-end;
            }
        }
        .header-search, .cart-block {
            display: none;
        }
        
    }
}

.breadcrumb-wrapper {
    display: none;
}

.main-navigation {
    ul {
        li {
            a {
                font-size: 1.4rem;
                padding-left: 0;
            	padding: 20px 40px 10px 0;
            }
        }
    }
}

.secondary-menu {
    justify-content: flex-start;
    margin-right: 0px;
    ul {
        li {
            border-right: solid 1px #999;
        }
    }
}                
.header-three {
    .header-main {
        .main-navigation {
            &+ .right {
                width: auto;
            }
        }
    }
}

.button {
    display: inline-block;
    background-color: #a38233;
    color: #fff;
    margin: 0.5rem;
    border-radius: 25px;
    padding: 0.5rem;
    text-decoration: none;
}
.site-banner {
    padding-left: 0;
    padding-right: 0;
}
.inline-block {
    display: inline-block;
}

.page {
    .site-content > {
         .page-header {
            background-size: cover;
            background-position: center center;
            padding: 150px 0;
            &::before {
                background-color: transparent;
            }
        }
    }
}

.center {
    text-align: center;
}

.top-service-section {
    &.has-bg {
        background-color: #fff;
    }
    h2 {
        margin-top: 0;
    }
    .container {
        align-items: inherit;
    }
    .widget_text {
        width: 100%;
        padding: 1rem;
        display: flex;
        p {
            font-size: 16px;
        }
        .textwidget {
            display: flex;
            flex-direction: column;
            img {
                width: 140px;
                margin-bottom: 1rem;
            }
            .grow {
                flex-grow: 1;
            }
        }
    }
}

section.about-section {
    background: #fff;
	border-bottom: solid 1px #eee;
    .widget {
        max-width: 1280px;
        padding: 1rem 3rem;
        text-align: center;
    
        .widget-title {
            font-size: 20px;
        }
    }
}
.bloglist {
    h3 {
        font-size: 16px;
    }
    ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        li {
            a {
                padding:     0.5rem;
                display: block;
                text-decoration: none;
                &:hover {
                    color: #000000;
                }
            }
        }
    }
}


.single {
    .site-main{
        article {
            .entry-footer {
                width: 100%;
                .cat-tags {
                    .tag-title {
                        display: block;
                        position:inherit;
                    }
                }
            }
        }
    }
}

#page_content {
    background-color: #eee;
    padding: 3rem 0 1rem;
}
section#lid {
    // background: rgba(163, 130, 51, 0.35);
    padding: 2rem 0;
    text-align: center;
    border-top: solid 1px solid rgba(134, 142, 150, 0.1);
    .container {
        display: flex;
        justify-content: center;
        h3 {
            vertical-align: middle;
            margin-right: 1rem;
        }
        a {
            display: inline-flex;
            min-height: 100px;
            align-items: center;
            margin: 0 1rem;
        }
    }
}
.site-footer {
    border-top: solid 1px rgba(134, 142, 150, 0.1);
    .widget-title {
        font-size: 20px;
    }
    .footer-t {
        .socialwrapper { 
            a {
                display: block;
                margin: 0.5rem 0;
                line-height: 2;
                img {
                    margin-right: 1rem;
                }
            }
        }
    }
    .footer-b {
        // background-color: #000;
        color: #868e96;
        text-align: center;
        .site-info {
            width: 100%;

        }
        .copyright {
            color: #868e96;
        }
    }
    
}
p.contactbutton {
    margin-top: 0;
    &.mail {
         a {
            background-image: url('/wp-content/themes/ram-theme/images/envelope-regular.svg');
         }
    }
    &.whatsapp {
        a {
            background-image: url('/wp-content/themes/ram-theme/images/whatsapp-brands.svg');
        }
    }
    a{
        background-size: 32px 32px;
        background-repeat: no-repeat;
        background-position: 16px;
        background-color: #fff;
        color: #000;
        border: solid 1px #a38233;
        padding: 8px 16px 8px 56px;
        border-radius: 8px;
        min-height: 50px;
        display: inline-block;
        line-height: 2.2;
    }
}
a.wp-block-button__link, 
.wp-block-button__link, 
input[type="submit"],
.woocommerce-cart .site-main .woocommerce .cart-collaterals .cart_totals .checkout-button {
    background-color: #fff!important;
    color: #000;
    border: solid 1px #a38233;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    min-height: 50px;
    display: inline-block;
    line-height: 2.2;
    text-decoration: none;
    &:visited {
        color: #000;
        text-decoration: none;
    }
}
.woocommerce-page .site-content > .page-header{
    &.has-bgimg::before {
        background: 0 none;
    }
    &.has-bgimg {
        .page-title {
            color: #000000;
        }
    }
}

.wp-block-group {
    height: 100%;
    .wp-block-group__inner-container {
        height: 100%;
        .wp-block-image {
            display: flex;
            flex-direction: column;
            height: 100%;
            figcaption {
                text-align: center;
                margin-top: auto;
            }
        }
    }
}
.woocommerce .products ul, .woocommerce ul.products {
    width: 100%;
}
div.wp-block-jetpack-whatsapp-button a.whatsapp-block__button {
    line-height: 2.2;
    border: solid 1px #a38233;
    color: #000!important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px!important;
}
.single-product .site-main div.product .woocommerce-tabs .panel p {
    font-size: 1rem;
}

.container {
    max-width: 980px;
}

.woocommerce-page .site-content > .page-header.has-bgimg {
    min-height: 150px;
}
mark, ins {
    background: transparent;
}
@media screen and (min-width: 768px) {
    .top-service-section {
        .widget_text {
            width: 33%;
        }
    }
}

@media screen and (min-width: 1024px) {
    #headerWrapper {
        .header-main {
            .main-navigation {
                margin-right: 0;
            }
        }
    }
    .secondary-menu {
        margin-right: 20px;
    }
}
@media screen and (max-width: 1366px) {
    .header-three .header-main .main-navigation + .right {
        margin-left: 2%;
        width: 100%;
    }
    
}

@media screen and (max-width: 767px) {
    .header-three {
        .header-main {
            .main-navigation {
                width: auto;
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .header-three {
        .main-navigation {
            ul {
                ul {
                    li {
                        a {
                            font-size: 1rem;
                            padding: 0.5rem 1rem;
                            color: #999;
                            &:hover {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
    #headerWrapper {
        grid-template-columns: 200px auto;
        #headerRight{
            .header-t{
                .header-social {
                    display: block;
                }
            }
        }
        .header-main {
            .header-search, .cart-block {
                display: block;
            }
        } 
    }
    .breadcrumb-wrapper {
        display: block;
    }

}


@media screen and (max-width: 1366px) {
    .container {
        max-width: 980px;

    }
}